.base-menu .menu-bar {
    position: fixed;
    width: 100%;
    height: 60px;
    color: #FFF;
    border-bottom: #FFF 3px solid;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 76px 0 100px;
    z-index: 2;
}

.menu-bar .togo {
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    font-family: 'Graduate', sans-serif;
    color: #FFF;
    text-transform: uppercase;
}

.menu-bar .tree-link {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu-bar .tree-link .link {
    margin-right: 30px;
    text-transform: uppercase;
    position: relative;
}

.menu-bar .tree-link .link a {
    color: #FFFA;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Graduate', sans-serif;
    transition: color 200ms ease-out 0s;
}

.menu-bar .tree-link .link a:hover {
    color: #FFF;
}

.menu-bar .tree-link .spacel {
    content: "";
    width: 2px;
    height: 35px;
    background-color: #FFFC;
    position: absolute;
    transform: rotate(35deg);
    right: -15px;
    top: -4.5px;
}

.base-menu .btn-bar {
    display: none;
    position: fixed;
    padding: 28px 20px;
    cursor: pointer;
    z-index: 3;
}


/* span */

.base-menu .btn-bar span {
    background-color: #FFF;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    z-index: 3;
}

.base-menu .btn-bar span:before, .base-menu .btn-bar span:after {
    background-color: #FFF;
    display: block;
    content: "";
    position: absolute;
    transition: transform 0.2s ease-out 0s;
    height: 2px;
    width: 100%;
}

.base-menu .btn-bar span:before {top: 5px}

.base-menu .btn-bar span:after {top: -5px}

.base-menu.active .btn-bar span:after {
    top: 0;
    transform: rotate(45deg);
}

.base-menu.active .btn-bar span:before {
    top: 0;
    transform: rotate(-45deg);
}

.base-menu.active .menu-bar {
    transform: translateX(0);
}

.base-menu.active span {
    background-color: #000;
}

@media (max-width:1000px) {
    .base-menu .menu-bar {
        border-bottom: none;
        border-right: 3px solid #FFF;
        height: 100vh;
        transform: translateX(-1000px);
        transition: transform 500ms ease-out 0s;
        width: 250px;
        padding: 60px 0;
        display: block;
    }

    .base-menu .menu-bar .togo {
        display: block;
        font-size: 35px;
        margin-bottom: 50px;
    }

    .menu-bar .tree-link {
        display: block;
    }

    .menu-bar .tree-link .link {
        text-align: left;
        /* padding: 20px 0 10px 23px; */
        margin: 25px 0 0 23px;
    }

    .menu-bar .tree-link .link .spacel {
        display: none;
    }

    .base-menu .btn-bar {
        display: block;
    }
}