$dark-border-color: #30363d;
$dark-text-color: #FFF;
$dark-focus-color: #0260E8;

input {
    outline: none;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    transition: border-color 400ms;

    &:focus {
        box-shadow: 0 1px 0 rgba(1,4,9,0.1), inset 0 1px 0 rgba(240,246,252,0.03);
    }
}

input.dark {
    background-color: transparent;
    border: 2px solid $dark-border-color;
    color: $dark-text-color;

    &:focus {
        border-color: $dark-focus-color;
    }
}

input.error {
    border: 2px solid #A00;

    &:focus {
        border-color: #F00;
    }
}


div.password-input {
    position: relative;
    display: flex;
    align-items: center;

    input {
        display: inline-block;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;

        &:focus + .toggle-show {
            border-color: $dark-focus-color;
        }
    }

    input.error + .toggle-show {
        border-color: #A00;
    }

    .toggle-show {
        transition: border-color 400ms;
        display: inline-flex;
        border-radius: 5px;
        cursor: pointer;
        height: 38.5px;
        width: 39px;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border: 2px solid #30363d;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;

        svg {
            margin: 0;
            width: 25px;
            height: 25px;
        }
    }
}