{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% load static %}

{% block style_tags %}
<link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<section class="account">
    <div class="profile">
        <div class="userimage">
            <img src="{{ user_data.picture }}">
        </div>
        <div class="useraw">
            <span class="username">{{ user_data.name }}</span>
            <span class="email">{{ user_data.email }}</span>
        </div>
        <div class="actions">
            <a href="/account/logout/">Logout</a>
        </div>
    </div>
</section>
{% endblock content %}

{% block script_body_tags %}

{% endblock script_body_tags %}

