{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% load static %}

{% block style_tags %}
  <link href="{% static 'css/projects.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="all-projecs">
    <h2>00 Team Projects</h2>
    
    {% if projects %}
    {% for p in projects %}
    <div class="slide project">
        <h3>{{ p.name }}</h3>
        <div class="video">
            <video id="player-{{ p.index }}" controls data-poster="{{ p.thumbnail }}">
                <source src="{{ p.video }}" type="video/mp4" />
            </video>
            <script>new Plyr('#player-{{ p.index }}');</script>
        </div>
        <p>{{ p.description }}</p>
    </div>
    {% endfor %}
    <div class="btns">
        <a class="btn previous">Previous</a>
        <a class="btn next">Next</a>
    </div>
    {% else %}
    <h3 class="no-project">Noting so far</h3>
    {% endif %}
</div>

{% endblock content %}

{% block script_body_tags %}
<script src="/static/js/projects.js"></script>
{% endblock script_body_tags %}

