{% extends "base.html" %}
{% block title %}{{ p.name }}{% endblock %}
{% load static %}

{% block style_tags %}
  <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="base-project">
<div class="intro-video">
    <video id="player" controls data-poster="{{ p.thumbnail }}">
        <source src="{{ p.video }}" type="video/mp4" />
    </video>
    <script>new Plyr('#player');</script>
</div>
<div class="project-data">
    <h1>{{ p.name }}</h1>
    <div class="stars">
        <span>{{ p.stars }}</span>
        {% if p.stared %}
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke="#FFD600" fill="#FFD600" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke="#FFD600" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
        {% endif %}
    </div>
    <div class="nhr"></div>
    <div class="lang-ws">
        <span class="lang">{{ p.language }}</span>
        <span class="ws">{{ p.workspace }}</span>
    </div>
    <div class="nhr"></div>
    <p class="description">
        {{ p.description }}
    </p>
    {% if p.link %}
    <div class="nhr"></div>
    <div class="link-date">
        <a href="{{ p.link }}">{{ p.link_name }}</a>
        <span>{{ p.date_start }}</span>
    </div>
    {% endif %}
</div>
</div>

{% endblock content %}

{% block script_body_tags %}
<script src="{% static 'js/project.js' %}" csrfToken={{ csrf_token }} userToken={{ useracc_token }} projectId={{ p.id }}></script>
{% endblock script_body_tags %}

