.account {
    width: 100%;
    height: 100%;
    padding: 70px;
}
.profile {
    width: 300px;
    border-radius: 15px;
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0fr;
    gap: 0px 20px;
    grid-template-areas: "prof useraw" "actions actions";
}
  
.profile .useraw {
    grid-area: useraw;
    padding: 10px;
    text-align: left;
    display: grid;
    align-items: center;
}

.profile .useraw span {
    display: block;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.profile .userimage {
    grid-area: prof;
    padding: 10px;
}

.profile .userimage img {
    width: 100%;
    border-radius: 30%;
}

.profile .actions {
    padding: 10px;
    grid-area: actions;
}

.profile .actions a {
    position: relative;
    padding: 5px 15px;
    color: #FFF;
    background-color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    transition: background-color 300ms;
}

.profile .actions a:hover {
    background-color: #F00;
}