{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
    <meta name="theme-color" content="#010101">
    <meta name="og:locale" content="en_US">
    <meta name="og:image:height" content="640">
    <meta property="og:image:width" content="640">
    <meta property="og:image" content="/static/images/logo.png">
    <meta property="og:title" content="00 Team Page">
    <meta property="og:site_name" content="00 Team">
    <meta property="og:description" content="Noting ...">
    <meta name="keywords" content="00 Team,github 00 Team,00 Team Page">
    <meta property="og:url" content="https://00-team.github.io">
    <meta property="og:type" content="website">
    <meta name="copyright" content="00 Team">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} | 00 Team</title>
    
    <!-- Local Styles -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu-bar.css' %}">

    {% block style_tags %}{% endblock style_tags %}

    <!-- plyr statics -->
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />
    <script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
    
    
    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Page icon -->
    <link rel="icon" href="/static/images/logo2.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    {% block script_head_tags %}{% endblock script_head_tags %}
</head>
<body>
    {% include "menu-bar.html" %}
    <section class="content">
        {% block content %}{% endblock content %}
    </section>
    {% include "footer.html" %}
    {% block script_body_tags %}{% endblock script_body_tags %}
</body>
</html>