{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{ error.code }} | 00 Team</title>
    
    <!-- Local Styles -->
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/error.css" %}">
    
    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Page icon -->
    <link rel="stylesheet" href="{% static "images/logo2.png" %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    {% include "menu-bar.html" %}
    <section class="content">
        <h2 class="error-code">{{ error.code }}</h2>
        <h3 class="error-title">{{ error.title }}</h3>
        <p class="error-description">{{ error.description }}</p>
    </section>
    {% include "footer.html" %}
</body>
</html>