.account {
    padding: 50px;

    .profile {
        width: 1000px;
        height: 300px;
        display: flex;

        .pp {
            width: 300px;
            padding: 10px;
            border: 1px solid #FFF;
            border-radius: 20px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=');
            background-color: #000;
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        .info {
            width: 700px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            padding: 10px;
            position: relative;

            span {
                display: flex;
                align-items: center;
                margin-top: 20px;
                font-size: 20px;
                color: #FFF;
                font-family: 'Roboto', sans-serif;
    
                svg {
                    margin-right: 5px;
                }
            }

            .actions {
                position: absolute;
                bottom: 10px;
                display: flex;
                justify-content: space-around;

                button {
                    margin: 0 5px 0 0;
                }
            }

            .icon {
                margin-right: 10px;
                width: 25px;
                height: 25px;
            }
        }

        .edit-input {
            display: flex;
            align-items: center;
            margin-top: 20px;
            font-size: 16px;
            color: #FFF;
            font-family: 'Roboto', sans-serif;


            .file-input {
                font-size: 22px;
                cursor: pointer;
                background-color: transparent;
                border: 2px solid #30363d;
                color: #FFF;
                padding: 4px 8px;
                border-radius: 5px;
                width: 270px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}