@import '../../sass/variables.sass';

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 63px);

    .login-form {
        width: 1000px;
        height: 600px;
        border: 2px solid #FFF;
        border-radius: 10px;
        overflow: hidden;
        display: flex;

        .cool-img {
            width: 45%;
            height: 100%;
            background-image: url($BASE-URL + '/s/img/login-bg.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @media (max-width: 1022px) {
                display: none;
            }
        }

        @media (max-width: 1022px) {
            width: 500px;
        }

        @media (max-width: 520px) {
            width: 90%;
            height: 500px;
        }

        .form {
            width: 55%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px 20px;

            input {
                width: 80%;
                margin-bottom: 30px;
                margin-top: 10px;
                margin-left: 10px;

                @media (max-width: 520px) {
                    font-size: 18px;
                }
            }

            span {
                color: #FFF;
                font-family: 'Roboto', sans-serif;
            }

            a {
                color: #30363d;
                font-size: 16px;
                text-decoration: none;
                transition: color 200ms ease-in-out;
                cursor: pointer;
                user-select: none;

                &:hover {
                    color: #58a6ff;
                }

                &:active {
                    color: #0260E8;
                }
            }

            .btn {
                margin: 30px 0;

                button {
                    margin-right: 10px;
                }
            }

            .social {
                width: 100%;

                button {
                    width: 100%;
                }

                .custom-hr {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    color: #FFF;
                    text-transform: uppercase;
                    margin: 10px 0;

                    &::before, &::after {
                        content: '';
                        height: 2px;
                        width: 100%;
                        background: #FFF;
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }

                    &::before {
                        margin-right: 10px;
                    }

                    &::after {
                        margin-left: 10px;
                    }
                }
            }

            @media (max-width: 1022px) {
                width: 100%;
            }
        }
    }
}